{% extends 'base.html.twig' %}

{% block title %}Charlotte Tardiveau - Avis index{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('stylecss/styleIndex.css')}}">
</head>
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <h2>Avis index</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set sorted_avis = avis|sort((a, b) => b.id <=> a.id) %}
                {% for avi in sorted_avis %}
                    <tr>
                        <td class="nom">{{ avi.nom }}</td>
                        <td class="description">{{ avi.description }}</td>
                        <td class="bouttons">
                            <a href="{{ path('app_avis_show', {'id': avi.id}) }}" class="btn btn-third">Voir</a>
                            <a href="{{ path('app_avis_publish_homepage', {'id': avi.id}) }}" class="btn btn-succes">Mettre en ligne</a>
                            <form action="{{ path('app_avis_delete', {'id': avi.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet avis ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.id) }}">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun enregistrement trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('home.index') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits pour accéder à cette page.
            <a href="{{ path('app_logout') }}" id="deconnexion">Continuez en mode non connécté</a>
        </div>
    {% endif %}
</div>
{% endblock %}
