{% extends 'base.html.twig' %}

{% block title %}charlotte Tardiveau - Mes Avis{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('stylecss/styleUserAvis.css')}}">
</head>
{% if is_granted('ROLE_USER') %}
    <div class="container">
        <h1>Mes Avis</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for avi in userAvis %}
                    <tr>
                        <td>{{ avi.nom }}</td>
                        <td>{{ avi.description }}</td>
                        <td>
                            <a href="{{ path('app_avis_edit', {'id': avi.id}) }}" class="btn btn-primary">Modifier mon commentaire</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun avis trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('home.index') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits pour accéder à cette page.
            <a href="{{ path('app_logout') }}" id="deconnexion">Continuez en mode non connécté</a>
        </div>
    {% endif %}
{% endblock %}
