{% extends "base.html.twig" %}

{% block title %}Charlotte Tardiveau - Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="first">
        <img src="{{ asset('images/photo_first.jpg') }}" alt="image de fond" class="fond_ordinateur">
        <img src="{{ asset('images/photo_first_M.png') }}" alt="image de fond" class="fond_tablette">
        <h2>
            Envie de se (re)mettre au sport ?<br>
            D'atteindre ses objectifs ?<br>
            N'hésitez plus !<br>
            Chaque séance est adaptée à chacun, ses envies, ses objectifs, ses goûts !<br>
            Pour Adultes, seniors, enfants, femmes enceintes et post partum.<br>
            Réduction du crédit d'impôt de 50 %
        </h2>
    </div>

    <div class="info">
        <h3>Quelles sont les objectifs des séances mises en place ?</h3>
        <div class="containerObj">
            <div class="premierObj">
                <img src="{{ asset('images/remiseEnForme.jpg') }}" alt="" class="imgObj1">
                <p class="objTexte">perte de poids</p>
            </div>
            <div class="containerObj2">
                <div class="deuxiemeObj">
                    <img src="{{ asset('images/gymDouce.jpg') }}" alt="" class="imgObj2">
                    <p class="objTexte">remise en forme / bien être</p>
                </div>
                <div class="troisiemeObj">
                    <img src="{{ asset('images/postNatal.jpg') }}" alt="" class="imgObj3">
                    <p class="objTexte">Sport post natal</p>
                </div>
            </div>
        </div>
    </div>

    <div class="infoSport">
        <h3>Quels sports peuvent être proposés ?</h3>
        <div class="sport1">
            <p>fitness</p>
            <img src="{{ asset('images/fitness.jpg') }}" alt="">
        </div>
        <div class="container">
            <div class="sport2">
                <img src="{{ asset('images/gymdouce.jpeg') }}" alt="">
                <p>gym douce</p>
            </div>
        </div>
        <div class="sport1">
            <p>course à pied</p>
            <img src="{{ asset('images/courseapied.jpg') }}" alt="">
        </div>
        <div class="container">
            <div class="sport2">
                <img src="{{ asset('images/mobilite.jpg') }}" alt="">
                <p>mobilité et équilibre</p>
            </div>
        </div>
        <p class="autres">et bien d'autres en fonction des besoins de chacun.</p>
    </div>

    <div class="commentaire">
        <h3>Avis d'utilisateurs</h3>
            <div id="comments">
                {% if avis is empty %}
                    <p>Aucun avis pour le moment.</p>
                {% else %}
                    {% for avi in avis %}
                        {% if avi.isOnHomepage %}
                                <div class="avis">
                                    <div class="avisDesc">
                                        <p>{{ avi.nom }} a écrit :</p>
                                        <p>{{ avi.description }}</p>
                                    </div>
                                    <div class="avisLink">
                                        <a href="{{ path('app_avis_show', {'id': avi.id}) }}">Voir ce commentaire -></a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <form action="{{ path('app_avis_remove_from_homepage', {'id': avi.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire de la page ?')">
                                                <input type="hidden" name="_token" value="{{ csrf_token('remove_from_homepage' ~ avi.id) }}">
                                                <button type="submit" class="btn btn-danger">Supprimer de la page</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        <div class="bot">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_avis_new') }}" class="btn btn-primary">Laisser un avis</a>
                <a href="{{ path('app_avis_user') }}" class="btn btn-secondary">Voir mes avis</a>
            {% else %}
                <p class="laisser">Vous pouvez vous connecter pour pouvoir laisser un avis !</p>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_avis_index') }}" class="btn btn-third">Voir les commentaires</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
