{% block header %}
<header>
    <div class="titre">
        <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo">
        <h1>Charlotte Tardiveau<br>Educatrice Sportive</h1>
    </div>
    <div class="burger" id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links" id="nav-links">
        <li><a href="{{ path('home.index') }}">Accueil</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_logout') }}" id="deconnexion">Se déconnecter</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_user_index') }}" id="user_index">Voir les utilisateurs</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ path('app_login') }}" id="connexion">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}" id="enregistrer">S'enregistrer</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_contact_index') }}" id="contact">Voir mes mails</a></li>
        {% else %}
            <li><a href="{{ path('app_contact_new') }}" id="contact">Contactez-moi</a></li>
        {% endif %}
    </ul>
</header>
{% endblock %}